# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
coverage

#NPM modules
node_modules/

#Bower components
bower_components/

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig